    .card {
    background-size: cover;
    position: relative;
    width: 90%;
    margin: 0 auto 40px auto;
    height: 250px;
    color: white;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #1a4ba2, #1a4ba2);
        opacity: .9;
    }
    .md-headline {
        z-index: 999;
        color: white;
    }
    .md-button {
        font-weight: bold;
    }
}

    .card-1 {
        background: url('../img/card-1@2x.png') center center no-repeat;
    }
    .card-2 {
        background: url('../img/card-2@2x.png') center center no-repeat;
    }
    .card-3 {
        background: url('../img/card-3@2x.png') center center no-repeat;
    }
    .card-4 {
        background: url('../img/card-4@2x.png') center center no-repeat;
    }
    .card-5 {
        background: url('../img/card-5@2x.png') center center no-repeat;
    }
    .card-6 {
        background: url('../img/card-6@2x.png') center center no-repeat;
    }
    .card-7 {
        background: url('../img/card-7@2x.png') center center no-repeat;
    }
    .card-8 {
        background: url('../img/card-8@2x.png') center center no-repeat;
    }
    .card-9 {
        background: url('../img/card-9@2x.png') center center no-repeat;
    }
