$page_background_color: #f5f5f5;

$navbar_background_color: #003f74;
$navbar_active_color: #fff;
$navbar_non_active_color: #bebebe;

$navbar_logo_section_background_color: #00243d;
$navbar_logo_section_site_name_color: #00acbd;
$navbar_logo_section_site_desc_color: #fff;

$navbar_user_section_background_color: #136093;
$navbar_user_section_color: #fff;

$footer_background_color: #d8d8d8;
$footer_color: #4a4a4a;

.page-dashboard-v1 {
    .page-dashboard-v1__inner {
        background-color: $page_background_color;
        md-content {
            background-color: $page_background_color;
        }
        md-card.dashboard-card {
            md-card-title {
                padding: 50px 70px 50px 50px;
                .md-headline {
                    color: #4a4a4a;
                    font-weight: 300;
                    padding: 0;
                    font-size: 30px;
                }
            }
            md-card-content {
                padding: 0px 50px 50px 50px;
                h3 {
                    color: #003d75;
                    font-size: 17px;
                }
                p {
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 14px;
                    line-height: 1.8em;
                }
            }
            md-card-actions {
                margin: 0;
                padding: 20px;
                .md-button {
                    color: #039cb0;
                    font-weight: bold;
                }
                .prev {
                    margin-right: auto;
                    &.disabled {
                        color: #c8c8c8;
                        font-weight: normal;
                    }
                }
                .next {
                    margin-left: auto;
                    &.disabled {
                        color: #c8c8c8;
                        font-weight: normal;
                    }
                }
                .more-tips {
                    margin-left: auto;
                    margin-right: auto;
                    &.disabled {
                        color: #c8c8c8;
                        font-weight: normal;
                    }
                }
            }
            &.dashboard-card--quick-tips {
                md-card-actions {
                    border-top: 1px solid #c8c8c8;
                }
            }
            &.dashboard-card--total-submissions {
                md-card-title {
                    md-card-title-text {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        .md-headline {
                            flex: 1;
                            display: block;
                            width: 100%;
                        }
                        .submission-count {
                            flex: 1;
                            display: block;
                            max-width: 100px;
                            width: 100%;
                            line-height: 32px;
                            font-size: 24px;
                            text-align: right;
                            color: #039cb0;
                        }
                    }
                }
                md-card-content {
                    display: flex;
                    padding: 0px 70px 50px 50px;
                    .graph {
                        flex: 1;
                        max-width: 250px;
                        .submissions-chart-container {
                            width: 100%;
                            height: 200px;
                            #submissions-chart {
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                    .graph-data {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 300px;
                        margin-left: auto;
                        .graph-data__inner {
                            width: 100%;
                            .label {
                                display: flex;
                                margin-bottom: 10px;
                                .label__icon {
                                    flex: 1;
                                    max-width: 50px;
                                    font-size: 25px;
                                }
                                .label__name {
                                    flex: 1;
                                    font-weight: bold;
                                    .label__name__desc {
                                        margin: 0;
                                        font-weight: normal;
                                    }
                                }
                                .label__number {
                                    flex: 1;
                                    color: #928f8e;
                                    max-width: 50px;
                                    text-align: right;
                                }
                                &.label--approved {
                                    .label__icon {
                                        color: rgb(126, 211, 33);
                                    }
                                }
                                &.label--denied {
                                    .label__icon {
                                        color: rgb(186, 47, 64);
                                    }
                                }
                                &.label--processing {
                                    .label__icon {
                                        color: rgb(73, 144, 226);
                                    }
                                }
                                &.label--incomplete {
                                    margin-bottom: 0;
                                    .label__icon {
                                        color: rgb(246, 166, 35);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* &.dashboard-card--total-submissions */
            &.dashboard-card--recent-submissions {
                width: 100%;
                md-card-content {
                    padding: 0px 0px 50px 0px;
                }
                md-card-title {
                    md-card-title-text {
                        display: flex;
                        flex-direction: row;
                        .md-headline {
                            flex: 1;
                            display: flex;
                            align-items: center;
                        }
                        .sort-by {
                            font-size: 18px;
                            flex: 1;
                            max-width: 220px;
                            color: rgba(92, 92, 92, 0.87);
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            md-select {
                                display: inline-block;
                                margin-left: 20px;
                                margin-top: 0;
                                margin-bottom: 0;
                                .md-select-value {
                                    padding: 4px 2px 1px;
                                }
                            }
                        }
                    }
                }
                md-card-actions {
                    padding: 0;
                    .submit-button {
                        width: 100%;
                        color: #fff;
                        background-color: #003f74;
                        line-height: 1.4em;
                        padding: 10px 0;
                        font-size: 20px;
                    }
                }
                .approved {
                    color: rgb(126, 211, 33);
                }
                .denied {
                    color: rgb(186, 47, 64);
                }
                .pending {
                    color: rgb(246, 166, 35);
                }
            }
            /* &.dashboard-card--recent-submissions */
        }
        .navigation-bar {
            padding: 0;
            background-color: $navbar_background_color;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
            .site-section {
                height: 85px;
                background-color: $navbar_logo_section_background_color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 40px;
                .site-name {
                    color: $navbar_logo_section_site_name_color;
                    font-size: 24px;
                    font-weight: bold;
                }
                .site-desc {
                    color: $navbar_logo_section_site_desc_color;
                    font-size: 12px;
                }
            }

            .user-section {
                height: 85px;
                background-color: $navbar_user_section_background_color;
                color: $navbar_user_section_color;
                display: flex;
                align-items: center;
                padding: 0 30px;
                .notification-icon {
                    i {
                        font-size: 18px;
                    }
                }
                .vertical-line {
                    margin-left: 20px;
                    margin-right: 20px;
                    height: 35px;
                    width: 1px;
                    border-right: 1px solid rgba(232, 232, 232, 0.31);
                }
                .username {
                    .dropdown-icon {
                        margin-left: 20px;
                        font-size: 18px;
                    }
                }
            }

            .md-button {
                margin: 0px 40px 0px 0px;
                line-height: 80px;
                color: $navbar_non_active_color;
                padding: 0px 10px;
                &.active {
                    color: $navbar_active_color;
                    border-bottom: 5px solid #fff;
                    border-radius: 0;
                }
            }
        }
        .page-title {
            padding: 30px;
            h2 {
                color: #4a4a4a;
                font-size: 16px;
            }
            .page-title__underline {
                width: 60px;
                height: 1px;
                border-top: 1px solid #4a4a4a;
            }
        }
    }
    .section-footer {
        background-color: $footer_background_color;
        color: $footer_color;
        .container {
            background-color: $footer_background_color;
            color: $footer_color;
        }
    }
}