.section-footer {
    background: #043668;
    ul {
        list-style-type: none;
        padding: 15px 30px;
        line-height: 26px;
    }
    .container {
        background: #043668;
        color: white;
    }
}
