        /*  ----------------- Overall -----------------*/

        body {
            font-family: 'Roboto', sans-serif;
        }

        .header {
            background: #002045;
            height: 250px;
            h1 {
                color: #FFCB05;
                margin: 45px 0 0 0;
                padding: 0;
                font-size: 45px;
                font-weight: 300;
                span {
                    font-weight: 500;
                }
            }
            h2 {
                text-transform: uppercase;
                font-size: 20px;
                color: white;
                margin: 30px 0 0 0;
                margin-bottom: 0;
                color: #699AC1;
                font-weight: 800;
            }
            h3 {
                font-family: 'Roboto Condensed', sans-serif;
                color: white;
                margin: 10px 0 0 0;
                font-weight: 500;
            }
        }

        .logo-wrapper {
            margin-top: 40px;
            img {
                margin: 50px 0 0 40px;
                width: 110px;
                height: 121px;
            }
        }

        .md-button {
            margin-right: 25px;
            &.md-accent {
                color: $yellow-1;
            }
            &.sign-up-btn {
                background-color: $blue-1;
                color: white;
            }
            &.log-in-btn {
                background-color: $blue-2;
                color: $yellow-1;
            }
        }
        /*  ----------------- Navigation -----------------*/

        .navigation-wrapper {
            border-left: 1px solid #007AB4;
            margin: 30px 0 0 50px;
            height: 190px;
            .navigation-block {
                margin-top: 100px;
                .navigation-item {
                    margin-right: 0px;
                    span {
                        color: white;
                    }
                }
            }
        }
        /*  ----------------- Home -----------------*/
