.hero-wrapper {
    .hero {
        height: 700px;
        margin: 0;
        padding: 150px 0 0 0;
        background: url("../img/hero-background.jpg") no-repeat center bottom;
        .container {
            background-color: transparent;
        }
        .motto {
            text-align: left;
            margin-left: 15%;
            border-left: 5px solid white;
            padding: 0 20px;
            margin: 0px 20px;
        }
        .motto-1 {
            color: $blue-4;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 300;
        }
        .motto-2 {
            color: $blue-4;
            text-transform: uppercase;
            font-size: 65px;
            font-weight: 500;
        }
        .motto-3 {
            color: $blue-5;
            text-transform: uppercase;
            font-size: 65px;
            font-weight: 900;
            padding-bottom: 80px;
        }
    }
    .get-started {
        background: $blue-3;
        color: white;
        padding: 0 0 0 150px;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
    }
}
