.section-hints {
    .sign-up-btn {
        display: block;
        margin: 50px auto;
        font-size: 25px;
        padding: 10px 35px;
    }
    .hint {
        h1 {
            color: $blue-6;
            font-size: 65px;
            font-weight: 700;
            text-align: center;
        }
        p {
            width: 55%;
            display: block;
            margin: 20px auto;
            font-size: 18px;
            text-align: left;
            border-top: 1px solid $tan-1;
            border-bottom: 1px solid $tan-1;
            padding: 15px 0;
        }
        img {
            width: 60%;
            display: block;
            margin: 0 auto;
        }
    }
}
