$footer-height: 170px;

.page-signup {
    .page-inner {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .section-body {
            flex: 1;
            @media (min-height: 980px) {
                display: flex;
            }
            .wrapper {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                background-size: cover;
                background-position: center center;
                position: relative;
                @media (min-height: 980px) {
                    flex: 1;
                    display: flex;
                }
                .inner-wrapper {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // position: relative;
                    .gradient-layer {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, $login-page__footer-bg-color 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%, $login-page__footer-bg-color 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%, $login-page__footer-bg-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#071a30',GradientType=0 ); /* IE6-9 */
                    }
                    .content {
                        // position: relative;
                        z-index: 3;
                        max-width: 1000px;
                        width: 100%;
                        background-color: transparent;
                        header {
                            position: relative;
                            z-index: 3;
                            margin-bottom: 50px;
                            .title {
                                color: $dark-turqoise;
                                font-weight: bold;
                                margin: 0 0 5px 0;
                            }
                            .description {
                                color: #fff;
                            }
                        }
                        .nav-wrapper {
                            margin-bottom: 10px;
                            position: relative;
                            z-index: 3;
                            .nav {
                                color: #fff;
                                p {
                                    a {
                                        color: #fff;
                                        text-decoration: none;
                                    }
                                }
                                .back-icon {
                                    margin-right: 10px;
                                }
                            }
                        }
                        .body {
                            display: flex;
                            height: 595px;
                            .big-image-wrapper {
                                flex: 1;
                                max-width: 45%;
                                overflow: hidden;
                                .big-image-inner {
                                    overflow: hidden;
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    .big-image {
                                        position: absolute;
                                        z-index: 2;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-size: cover;
                                        background-position: center center;
                                    }
                                }
                                // .big-image {
                                //     position: absolute;
                                //     z-index: 2;
                                //     top: 0;
                                //     left: 0;
                                //     width: 100%;
                                //     height: 100%;
                                //     background-size: cover;
                                //     background-position: center center;
                                // }
                            }
                            .signup {
                                flex: 1;
                                max-width: 55%;
                                background-color: #fff;
                                padding: 50px;
                                box-sizing: border-box;
                                position: relative;
                                z-index: 3;
                                .heading {
                                    h2 {
                                        font-size: 18px;
                                        font-weight: normal;
                                        color: #009cac;
                                        margin: 0;
                                    }
                                    .heading-underline {
                                        width: 40px;
                                        height: 1px;
                                        border-bottom: 2px solid #009cac;
                                        margin-top: 10px;
                                    }
                                }
                                .form {
                                    margin-top: 15px;
                                    md-input-container {
                                        margin: 15px 0;
                                        width: 100%;
                                        .md-errors-spacer {
                                            display: none;
                                        }
                                    }
                                    .remember-me {
                                        margin-top: 25px;
                                    }
                                    .signup-button {
                                        margin-top: 25px;
                                        color: #fff;
                                        background-color: #003d75;
                                        margin-left: 0;
                                    }
                                    md-checkbox {
                                        font-size: 12px;
                                        .md-container {
                                            top: 35%;
                                            .md-icon {
                                                // width: 15px;
                                                // height: 15px;
                                            }
                                        }
                                        .md-label {
                                            margin-left: 30px;
                                        }
                                    }
                                }
                                .license-agreement {
                                    font-size: 12px;
                                    margin-top: 15px;
                                    color: #4a4a4a;
                                    p {
                                        margin: 5px 0;
                                        line-height: 2em;
                                    }
                                    a {
                                        color: #009cac;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-footer {
            width: 100%;
            height: $footer-height;
            background-color: $login-page__footer-bg-color;
            color: #fff;
            .container {
                background-color: $login-page__footer-bg-color;
                color: #fff;
                max-width: 800px;
                width:100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .ext-content {
        background-color: #F1F0EE;
    }
}