$footer-height: 170px;

.page-login {
    .page-inner {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .section-body {
            flex: 1;
            @media (min-height: 800px) {
                display: flex;
            }
            .wrapper {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                background-size: cover;
                background-position: center center;
                position: relative;
                @media (min-height: 800px) {
                    flex: 1;
                    display: flex;
                }
                .inner-wrapper {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // position: relative;
                    .gradient-layer {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background: -moz-linear-gradient(top,  $login-page__footer-bg-color-faded 0%, $login-page__footer-bg-color 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  $login-page__footer-bg-color-faded 0%, $login-page__footer-bg-color 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  $login-page__footer-bg-color-faded 0%, $login-page__footer-bg-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#071a30',GradientType=0 ); /* IE6-9 */
                    }
                    .content {
                        background-color: transparent;
                        position: relative;
                        z-index: 3;
                        max-width: 1000px;
                        width: 100%;
                        height: auto;
                        header {
                            margin-bottom: 50px;
                            .title {
                                color: $dark-turqoise;
                                font-weight: bold;
                                margin: 0 0 5px 0;
                            }
                            .description {
                                color: #fff;
                            }
                        }
                        .nav-wrapper {
                            margin-bottom: 10px;
                            .nav {
                                color: #fff;
                                p {
                                    a {
                                        color: #fff;
                                        text-decoration: none;
                                    }
                                }
                                .back-icon {
                                    margin-right: 10px;
                                }
                            }
                        }
                        .body {
                            display: flex;
                            height: 500px;
                            .signup {
                                flex: 1;
                                background-color: $login-page__login__signup-bg;
                                max-width: 50%;
                                min-height: 100%;
                                display: flex;
                                flex-direction: column;
                                .inner {
                                    padding: 50px 50px 0 50px;
                                    display: flex;
                                    flex: 1;
                                    box-sizing: border-box;
                                    .heading {
                                        flex: 1;
                                        max-width: 100px;
                                        h2 {
                                            font-size: 18px;
                                            font-weight: normal;
                                            color: #fff;
                                            margin: 0;
                                        }
                                        .underline {
                                            width: 60px;
                                            height: 1px;
                                            border-bottom: 2px solid yellow;
                                            margin-top: 10px;
                                        }
                                    }
                                    .text {
                                        flex: 1;
                                        p {
                                            font-size: 15px;
                                            color: #fff;
                                            margin: 0;
                                        }
                                        .signup-button {
                                            color: $login-page__login__signup-bg;
                                            background-color: $login-page__login__signup-secondary-color;
                                            font-weight: bold;
                                            margin: 40px 0 0 0;
                                        }
                                    }
                                }
                                .bottom-image {
                                    background-size: cover;
                                    background-position: center center;
                                    height: 150px;
                                    width: 100%;
                                }
                            }
                            .login {
                                flex: 1;
                                background-color: #fff;
                                max-width: 50%;
                                padding: 50px;
                                box-sizing: border-box;
                                .heading {
                                    h2 {
                                        font-size: 18px;
                                        font-weight: normal;
                                        color: #009cac;
                                        margin: 0;
                                    }
                                    .underline {
                                        width: 40px;
                                        height: 1px;
                                        border-bottom: 2px solid #009cac;
                                        margin-top: 10px;
                                    }
                                }
                                .content {
                                    margin-top: 30px;
                                    display: block;
                                    .password-field {
                                        margin-top: 10px;
                                    }
                                    md-input-container {
                                        margin: 15px 0;
                                        width: 100%;
                                        .md-errors-spacer {
                                            display: none;
                                        }
                                    }
                                    md-checkbox {
                                        font-size: 12px;
                                        .md-container {
                                            top: 35%;
                                            .md-icon {
                                                // width: 15px;
                                                // height: 15px;
                                            }
                                        }
                                        .md-label {
                                            margin-left: 30px;
                                        }
                                        // &.md-checked .md-icon:after {
                                        //     height: 9px;
                                        //     width: 6px;
                                        //     left: 3px;
                                        // }
                                    }
                                    .login-button {
                                        margin-top: 30px;
                                        color: #fff;
                                        background-color: #003d75;
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                    }
                                }
                                .footer {
                                    margin-top: 30px;
                                    text-align: center;
                                    font-size: 12px;
                                    color: #4a4a4a;
                                    p {
                                        margin: 5px 0;
                                        line-height: 2em;
                                    }
                                    a {
                                        color: #009cac;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-footer {
            width: 100%;
            height: $footer-height;
            background-color: $login-page__footer-bg-color;
            color: #fff;
            .container {
                background-color: $login-page__footer-bg-color;
                color: #fff;
                max-width: 800px;
                width:100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}