.page-step-3 {
    .selected-option {
        font-size: 14px;
        margin: 5px 0 0 0;
        color: #333;
        font-weight: bold;
    }
    .need-wrapper__selected {
        background: #ccc;
    }
}