.steps {
    width: 100%;
    height: 600px;
    display: block;
    .step-wrapper {
        width: 33%;
        float: left;
        text-align: center;
    }
    .circle {
        position: relative;
        display: block;
        margin: 2em 0;
        background-color: transparent;
        color: $blue-6;
        text-align: center;
        display: block;
        margin: 90px auto;
        width: 300px;
    }
    .circle:after {
        display: block;
        padding-bottom: 100%;
        width: 100%;
        height: 0;
        border-radius: 50%;
        background: transparent;
        border: 3px solid $blue-6;
        content: "";
    }
    .circle-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 140px;
    }
    .circle-wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }
    .circle-number {
        display: table-cell;
        vertical-align: middle;
    }
    .circle-text {
        h2 {
            font-size: 23px;
            margin: 30px 0 20px 0;
        }
        span {
            font-size: 20px;
            color: $blue-4;
            font-weight: 300;
        }
    }
}

.call-to-action-buttons-wrapper {
    margin-top: 190px;
    .md-button {
        &.sign-up-btn,
        &.log-in-btn {
            font-size: 25px;
            padding: 10px 35px;
        }
    }
}

.need-wrapper {
    padding: 20px 0 20px 30px;
    margin: 10px 0;
    border-radius: 5px;
    background: white;
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  cursor: hand;
  /* ...and now for the proper property */
  transition:.5s;
    &:hover {
        background: #ccc;
    }
}