// Colors

$yellow-1: #ffcb05;
$blue-1: #007ab4;
$blue-2: #043668;
$blue-3: #011f45;
$blue-4: #000e36;
$blue-5: #043668;
$blue-6: #6a9ac2;
$tan-1: #d2c4b6;

$turqoise: #039cb0;
$dark-turqoise: #009dac;
$dark-blue: #003d75;
$dark-blue-2: rgba(7,26,48,1);
$dark-blue-2-faded: rgba(7,26,48,0.5);

$green: #0b744f;
$orange: #da5834;
$gray: #979797;
$yellow: #fed521;

// Configurations

$steps-menubar__step-completed-color: $green;
$steps-menubar__step-in-progress-color: $orange;
$steps-menubar__step-remaining-color: $gray;

// Login Page

$login-page__footer-bg-color: $dark-blue-2;
$login-page__footer-bg-color-faded: $dark-blue-2-faded;
$login-page__login__signup-bg: $dark-blue;
$login-page__login__signup-secondary-color: $yellow;

// Sign up Page

$signup-page__footer-bg-color: $dark-blue-2;
$signup-page__login__signup-bg: $dark-blue;
$signup-page__login__signup-secondary-color: $yellow;