// Import partials
@import 'variables';
@import 'buttons';
@import 'steps';
@import 'header';
@import 'hero';
@import 'cards';
@import 'hints';
@import 'footer';

// Pages
@import 'page-step-1';
@import 'page-step-2';
@import 'page-step-3';
@import 'page-login';
@import 'dashboard';
@import 'dashboard-v1__table-extension';
@import 'page-login';
@import 'page-signup';

/* .navigation-bar,
footer {
    display: none !important;
}
 */
body,
.content {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h5 {
    line-height: 1em;
    margin: 0;
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
    display: none;
}

.vAccordion--default {
    .accordion-heading {
        position: relative;
        .icon {
            position: absolute;
            right: 0;
            top: 0;
            &.icon-visible {
                display: none;
            }
            &.icon-hidden {
                display: block;
            }
        }
        &[aria-expanded="true"] {
            .icon {
                &.icon-visible {
                    display: block;
                }
                &.icon-hidden {
                    display: none;
                }
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-size: 30px !important;
    color: $blue-1;
    width: 100%;
    clear: both;
    padding-left: 20px;
    margin-top: 100px;
}

.section-title-hr {
    width: 15%;
    background: $blue-1;
    color: $blue-1;
    position: relative;
    height: 3px;
    border: none;
    margin: 0px 21px;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    &.section-title-hr-grid {
        margin-bottom: 70px;
    }
}

.navigation-bar {
    background-color: $turqoise;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 5px;
    .md-button {
        color: #fff;
        &.md-raised {
            &.logout {
                background-color: $dark-blue;
                -webkit-transition: background-color 500ms linear 0s;
                -moz-transition: background-color 500ms linear 0s;
                -o-transition: background-color 500ms linear 0s;
                transition: background-color 500ms linear 0s;
                &:hover {
                    background-color: darken($dark-blue, 10);
                    -webkit-transition: background-color 500ms linear 0s;
                    -moz-transition: background-color 500ms linear 0s;
                    -o-transition: background-color 500ms linear 0s;
                    transition: background-color 500ms linear 0s;
                }
                &:active {
                    background-color: darken($dark-blue, 10);
                    -webkit-transition: background-color 500ms linear 0s;
                    -moz-transition: background-color 500ms linear 0s;
                    -o-transition: background-color 500ms linear 0s;
                    transition: background-color 500ms linear 0s;
                }
            }
        }
    }
    .navigation-bar__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.app-body {
    background-color: #F1F0EE;
    .section-footer {
        background-color: #d8d8d8;
        .container {
            background-color: #d8d8d8;
            color: #4a4a4a;
            max-width: 800px;
            width:100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .ext-content {
        background-color: #F1F0EE;
    }
    /*md-checkbox {
        &.md-checked {
            .md-icon {
                background-color: #000;
            }
        }
    }
    md-radio-button {
        &.md-default-theme {
            &.md-checked {
                .md-off {
                    border-color: #000;
                }
            }
        }
        &.md-checked {
            .md-off {
                border-color: #000;
            }
            .md-on {
                background-color: #000;
            }
        }
    }
    md-radio-group {
        .md-checked {
            .md-ink-ripple {
                color: rgba(0,0,0,0.6);
            }
        }
        &.md-focused:not(:empty) .md-checked .md-container:before {
            background-color: rgba(0,0,0,0.6);
        }
    }*/
}


.step-body {
    padding: 10px 40px;
    box-sizing: border-box;
    md-card {
        margin: 50px 0;
        padding: 10px 15px;
        padding-bottom: 0;
        md-card-content {
            padding: 0;
            h2 {
                size: 10px;
                color: #009cac;
            }
            .pagination-buttons {
                border-top: 1px solid #dbdbdb;
                margin-left: -15px;
                margin-right: -15px;
                .next-button {
                    color: #fff;
                    background-color: #009b64;
                    width: 100%;
                    margin: 0;
                    border-radius: 0;
                    height: 50px;
                }
                .prev-button {
                    color: #000;
                    width: 100%;
                    margin: 0;
                    border-radius: 0;
                    height: 50px;
                }
            }
        }
    }
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    h3 {
        color: #979797;
        font-size: 14px;
        font-weight: normal;
    }
    p {
        font-size: 16px;
    }
    .step-body__title {
        margin-top: 18px;
        color: #4a4a4a;
    }
    .step-body__title-underline {
        width: 32px;
        height: 1px;
        border-bottom: 2px solid #4a4a4a;
    }
    .step-body__desc {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .step-body__card-body {
        margin-bottom: 50px;
    }
}

.steps-menubar {
    md-nav-ink-bar {
        display: none;
    }
    .md-nav-bar {
        height: 50px;
    }
    .md-nav-item {
        width: 33.33%;
        text-align: center;
        .md-button {
            width: 100%;
        }
    }
    .steps-menubar__step {
        .steps-menubar__step__inner-wrapper {
            display: flex;
            justify-content: center;
            .steps-menubar__step__icon {
                margin-right: 20px;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                .rounded-number {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 19px;
                    box-sizing: border-box;
                }
            }
            .steps-menubar__step__text {
                display: flex;
                height: 32px;
                justify-content: center;
                align-items: center;
            }
        }
        .md-button {
            font-size: 16px;
            border-radius: 0px;
            text-transform: none;
            padding: 9px 0;
            margin: 0;
        }
        &.steps-menubar__step-completed {
            .md-button {
                color: $steps-menubar__step-completed-color;
                &.md-active {
                    border-bottom: 2px solid $steps-menubar__step-completed-color;
                }
            }
            .rounded-number {
                color: $steps-menubar__step-completed-color;
                border: 2px solid $steps-menubar__step-completed-color;
                &.not-completed {
                    display: none;
                }
                &.completed {
                    display: flex;
                }
            }
        }
        &.steps-menubar__step-in-progress {
            .md-button {
                color: $steps-menubar__step-in-progress-color;
                &.md-active {
                    border-bottom: 2px solid $steps-menubar__step-in-progress-color;
                }
            }
            .rounded-number {
                color: #fff;
                background-color: $steps-menubar__step-in-progress-color;
                border: 2px solid $steps-menubar__step-in-progress-color;
                &.not-completed {
                    display: flex;
                }
                &.completed {
                    display: none;
                }
            }
        }
        &.steps-menubar__step-remaining {
            .md-button {
                color: $steps-menubar__step-remaining-color;
                &.md-active {
                    border-bottom: 2px solid $steps-menubar__step-remaining-color;
                }
            }
            .rounded-number {
                color: $steps-menubar__step-remaining-color;
                border: 2px solid $steps-menubar__step-remaining-color;
                &.not-completed {
                    display: flex;
                }
                &.completed {
                    display: none;
                }
            }
        }
    }
}

/* hr {
    width: 100px;
    height: 3px;
    background: $blue-1;
    color: $blue-1;
    position: relative;
    display: inline;
    float: left;
}
 */
.flex-row {
    display: flex;
    .flex-col {
        flex: 1;
    }
}

.radio-button-container {
    padding: 0 40px;
    margin-bottom: 25px;
    box-sizing: border-box;
    .radio-button-container__button {

    }
    .radio-button-container__info {
        max-width: 30px;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
}

.step-1-wrapper {
    padding: 50px 30px;
}

.step-2b-wrapper {
    padding: 50px 30px;
}

.step-3-wrapper {
    padding-bottom: 50px;
}

.upload-box {
    border: 2px dotted #6e6e6e;
    padding: 40px 80px;
    margin: 0 auto;
    max-width: 300px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-box__contents {
        text-align: center;
        .upload-box__contents__upload-icon {
            color: #1a4ba2;
            font-size: 30px;
        }
        .upload-box__contents__text {
            color: #1a4ba2;
        }
        .upload-box__contents__choose-file-button {
            margin: 0;
            padding: 10px 30px;
            background-color: #1a4ba2;
            color: #fff;
        }
    }
}

.inline-edit-link {
    font-size: 14px;
    color: #979797;
    cursor: pointer;
}

.info-button {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #666460;
    color: #fff;
    cursor: pointer;
}

.attached-file-box {
    position: relative;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    background-color: #efefef;
    margin-top: 50px;
    .attached-file-box__inner {
        .attached-file-box__icon-container {
            display: flex;
            max-width: 50px;
            font-size: 30px;
            color: #1a4ba2;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        .attached-file-box__info-container {
            .attached-file-box__info-container__number-of-attachments {
                color: #009cac;
                font-weight: bold;
            }
            .attached-file-box__info-container__file-name {

            }
        }
    }
    .attached-file-box__close-box {
        position: absolute;
        right: 10;
        top: 10;
        color: #979797;
        cursor: pointer;
    }
}

/* For changing the style of title of dialog boxes. */
md-dialog {
    .md-title {
        size: 10px;
        color: #009cac;
        margin-bottom: 50px;
    }
}

/*body {
    color: mix(#039cb0, #ffffff, 50%);
    color: mix(#039cb0, #ffffff, 60%);
    color: mix(#039cb0, #ffffff, 70%);
    color: mix(#039cb0, #ffffff, 80%);
    color: mix(#039cb0, #ffffff, 90%);
    color: #039cb0;
    color: mix(#039cb0, #000000, 90%);
    color: mix(#039cb0, #000000, 80%);
    color: mix(#039cb0, #000000, 70%);
    color: mix(#039cb0, #000000, 60%);
}*/