<html lang="en" ng-app="MainApp">

<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="http://lukaszwatroba.github.io/v-accordion/dist/v-accordion.css">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body class="page-step-1 home app-body" ng-controller="AppCtrl" id="popupContainer" ng-cloak>
    <div class='navigation-bar'>
        <div class='navigation-bar__right'>
            <md-button>Dashboard</md-button>
            <md-button>My Account</md-button>
            <md-button>FAQ</md-button>
            <md-button class="md-raised logout">Log Out</md-button>
        </div>
        <!-- .navigation-bar__right -->
    </div>
    <!-- .navigation-bar -->
    <!-- start | md-content | -->
    <md-content class="content">
        <md-nav-bar class="steps-menubar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item class="steps-menubar__step steps-menubar__step-in-progress" md-nav-click="goto('page1')" name="page1">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            1
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Identify a need.
                    </div>
                </div>
            </md-nav-item>
            <md-nav-item class="steps-menubar__step steps-menubar__step-remaining" md-nav-click="goto('page2')" name="page2">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            2
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Prepare a white paper.
                    </div>
                </div>
            </md-nav-item>
            <md-nav-item class="steps-menubar__step steps-menubar__step-remaining" md-nav-click="goto('page3')" name="page3">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            3
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Review and Submit.
                    </div>
                </div>
            </md-nav-item>
            <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
        <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
        <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
        -->
        </md-nav-bar>
        <div class="ext-content">
            <div class="step-body">
                <h2 class="step-body__title">IDENTIFY A NEED</h2>
                <div class="step-body__title-underline"></div>
                <p class="step-body__desc">Select your need below. When complete, click "Next" to fill out your white paper cover sheet.</p>
                <md-card>
                    <md-card-content>
                        <div class='step-1-wrapper'>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Prevent Strategic Surprise
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            New Analysis Technologies and Methods
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i></i>
                                            </div>
                                        </div>
                                        <!-- .need-wrapper-->
                                    </div>
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Enhance Counterintelligence and Security
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Intelligence Collections
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Mission Enhancing Science and Technology
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Improves Mission Support Capabilities
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Increase Organizational Effectiveness
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Empower Partnerships
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                    <div class='flex-row need-wrapper'>
                                        <div flex="90" ng-click="showPrerenderedDialog($event)">
                                            Other Innovative Capabilities Not Listed Above
                                        </div>
                                        <div flex="10">
                                            <div class="info-button" layout-align="end end">
                                                <i class="fa fa-info" aria-hidden="true" ng-click="showAlert($event)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .need-wrapper-->
                                </md-input-container>
                            </div>
                        </div>
                        <!-- .step-1-wrapper -->
                        <div layout-gt-sm="row" class="pagination-buttons">
                            <div class="md-block" flex-gt-sm>
                                <md-button class="prev-button"><strong>BACK |</strong> DASHBOARD</md-button>
                            </div>
                            <div class="md-block" flex-gt-sm>
                                <md-button class="next-button"><strong>NEXT |</strong> WHITE PAPER COVER SHEET</md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
    <!-- end | md-content | -->
    <!-- start | .section-footer | -->
    <footer class="section-footer" layout-wrap>
        <md-content class="container">
            <div layout="row" layout-align="start start">
                <ul>
                    <li>Web Privacy &amp; Security</li>
                    <li>Link Disclaimer</li>
                    <li>FOIA</li>
                    <li>DIA Operating Status</li>
                    <li>Web Policy</li>
                    <li>No FEAR Act</li>
                </ul>
                <ul>
                    <li>DIA Inspector General</li>
                    <li>Office of Privacy &amp; Civil Liberties</li>
                    <li>Accessibility/Section 508</li>
                    <li>Defense.gov</li>
                    <li>USA.gov</li>
                </ul>
            </div>
        </md-content>
    </footer>
        <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding>
                <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_76">
                    <h2 class="md-title ng-binding">Select Sub-Category</h2>
                    <div class="u-wideWrapper u-paddingHm u-paddingTl">
                        <div class="Grid Grid--gutters md-Grid--2col">
                            <div class="Grid-cell u-marginBl">
                                <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                                    <md-radio-group ng-model="data.group1">
                                        <v-pane id="pane1" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane1-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane1" class="md-primary">6.0 Improves Mission Support Capabilities</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane1-content" aria-labelledby="pane1-header">
                                                <div>
                                                   Core mission capacity will be improved by training and shaping the workforce to ensure critical competencies are either in place or available for augmentation. Additionally, DIA will target recruitment, training, and retention approaches to achieve optimal performance from multiple workforce generations, with diverse backgrounds, possessing various levels of technological and social networking skills.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Closed
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane1" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane1-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane1" class="md-primary">6.1 Information Technology </md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane1-content" aria-labelledby="pane1-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane2" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane2-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane2" class="md-primary">6.1.1 Customer Support and Governance</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane2-content" aria-labelledby="pane2-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane3" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane3-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane3" class="md-primary">6.1.2 Software Development and Sustainment</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane3-content" aria-labelledby="pane3-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane4" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane4-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane4" class="md-primary">6.1.3 Big Data, Data Management, and Analytics</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane4-content" aria-labelledby="pane4-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane5" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane5-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane5" class="md-primary">6.1.4 Delivery Models (Agile, Continuous Integration, Extreme Programming)</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane5-content" aria-labelledby="pane5-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane6" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane6-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane6" class="md-primary">6.1.5 Infrastructure, Infrastructure as a Service (IaaS) and Cloud Management</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane6-content" aria-labelledby="pane6-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane7" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane7-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane7" class="md-primary">6.1.6 Information Assurance and Cyber Defense</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane7-content" aria-labelledby="pane7-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane8" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane8-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane8" class="md-primary">6.1.7 IT Financial Management and IT Portfolio Management</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane8-content" aria-labelledby="pane8-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                        <v-pane id="pane9" expanded="false">
                                            <v-pane-header class="accordion-heading" id="pane9-header" aria-controls="pane1-content">
                                                <h5>
                                                    <md-radio-button value="pane9" class="md-primary">6.2 Training and Professional Development</md-radio-button>
                                                </h5>
                                                <i class="icon icon-hidden fa fa-angle-right" aria-hidden="true"></i>
                                                <i class="icon icon-visible fa fa-angle-down" aria-hidden="true"></i>
                                            </v-pane-header>
                                            <v-pane-content id="pane9-content" aria-labelledby="pane9-header">
                                                <div>
                                                    DIA seeks innovative approaches and methods to support our world-class facility planning, engineering, operations, and services to the defense intelligence enterprise. Solutions should ensure energy-efficient, safe, secure facilities along with tailored facility and service support.
                                                    <ul>
                                                        <li>
                                                            Response Type: BAA
                                                        </li>
                                                        <li>
                                                            Status: Open/Considering
                                                        </li>
                                                        <li>
                                                            Additional Evaluation Criteria: None
                                                        </li>
                                                    </ul>
                                                </div>
                                            </v-pane-content>
                                        </v-pane>
                                    </md-radio-group ng-model="data.group1">
                                </v-accordion>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions>
                    <button class="md-primary md-confirm-button md-button md-default-theme md-ink-ripple md-autofocus" type="button" ng-transclude="" ng-click="dialog.hide()" md-autofocus="dialog.$type==='alert'"><span class="ng-binding ng-scope">Select</span></button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
        <script src="http://lukaszwatroba.github.io/v-accordion/dist/v-accordion.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
    (function(angular, undefined) {
        "use strict";

        angular
            .module('MainApp', ['ngMaterial', 'ngSanitize', 'ngAnimate', 'vAccordion'])
            .controller('AppCtrl', AppController);

        function AppController($scope, $mdDialog) {

            $scope.showAlert = function(ev) {
                $mdDialog.show(
                    $mdDialog.alert()
                    .parent(angular.element(document.querySelector('#popupContainer')))
                    .clickOutsideToClose(true)
                    .title('Prevent Strategic Surprise')
                    .htmlContent('<p>Considering the myriad challenges posed by the strategic environment, DIA will continue enhancing its ability to perform long-term strategic analysis, including analysis of current and potential adversaries’ scientific, technological, and weapons capabilities, and improve the integration of all intelligence capabilities to better anticipate, monitor, and convey warning intelligence and policy-related opportunities. As such, DIA seeks innovative methods and tools to build upon its warning apparatus at all levels.</p>' +
                        '<ul>' +
                        '<li>Response Type: BAA</li>' +
                        '<li>Status: Open/Considering</li>' +
                        '<li>Additional Evaluation Criteria: None</li>' +
                        '</ul>')
                    .ariaLabel('Alert Dialog Demo')
                    .targetEvent(ev)
                );
            };

                        $scope.showPrerenderedDialog = function(ev) {
                $mdDialog.show({
                    controller: AppController,
                    contentElement: '#myDialog',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    clickOutsideToClose: true
                });
            };

            $scope.expandCallback = function(index, id) {
                console.log('expand:', index, id);
            };

            $scope.collapseCallback = function(index, id) {
                console.log('collapse:', index, id);
            };

            $scope.$on('accordionA:onReady', function() {
                console.log('accordionA is ready!');
            });

        } // Controller

    })(angular);
    </script>
</body>

</html>
