<html lang="en" ng-app="MainApp">

<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body class="page-login home app-body" ng-controller="AppCtrl" id="popupContainer" ng-cloak>

    <div class='page-inner'>
        <div class='section-body'>
            <div class='wrapper' style='background-image: url(../dist/img/login-bg.jpg)'>
                <div class='inner-wrapper'>
                    <div class='gradient-layer'></div>
                    <div class='content'>
                        <header>
                            <h1 class='title'>NeedipeDIA</h1>
                            <p class='description'>by the DEFENSE INTELLIGENCE AGENCY</p>
                        </header>
                        <div class='nav-wrapper'>
                            <div class='nav'>
                                <p>
                                    <a href="#"><i class="back-icon fa fa-arrow-left" aria-hidden="true"></i> <strong>BACK</strong> | HOME</a>
                                <p>
                            </div> <!-- .nav -->
                        </div> <!-- .nav -->
                        <div class='body'>
                            <div class='signup'>
                                <div class='inner'>
                                    <div class='heading'>
                                        <h2>SIGN UP</h2>
                                        <div class='underline'></div>
                                    </div> <!-- .heading -->
                                    <div class='text'>
                                        <p>
                                            Get started now, to have the ablity to efficiently leverage solutions from industry and academia.
                                        </p>
                                        <md-button class='signup-button'>Sign Up</md-button>
                                    </div> <!-- .text -->
                                </div> <!-- .inner -->
                                <div class='bottom-image' style='background-image: url(../dist/img/login-small-image.jpg)'></div> <!-- .signup-image -->
                            </div> <!-- .signup -->
                            <div class='login'>
                                <div class='heading'>
                                    <h2>Login</h2>
                                    <div class='underline'></div>
                                </div> <!-- .heading -->
                                <div class='content'>
                                    <div>
                                        <md-input-container>
                                            <label>User ID</label>
                                            <input ng-model="user.email" type="email" placeholder="Email Address">
                                        </md-input-container>
                                    </div>
                                    <div class='password-field'>
                                        <md-input-container>
                                            <label>Password</label>
                                            <input ng-model="user.title" type="password" placeholder="Enter 6 Characters">
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <md-checkbox ng-model="user_id" aria-label="Checkbox 1">
                                            Remember my User ID.
                                        </md-checkbox>
                                    </div>
                                    <div>
                                        <md-button class='login-button'>Log In</md-button>
                                    </div>
                                </div> <!-- .login__body -->
                                <div class='footer'>
                                    <p>
                                        By clicking Log In, you agree to our <a href="#">License Agreement</a>.
                                    </p>
                                    <p>
                                        <a href="#">I forgot my user ID or Password</a>
                                    </p>
                                </div>
                            </div> <!-- .login__body-login -->
                        </div> <!-- .login__body -->
                    </div> <!-- .login -->
                </div> <!-- .login-inner -->
            </div>
        </div> <!-- .section-body -->
        <footer class="section-footer" layout-wrap>
            <md-content class="container">
                <div layout="row" layout-align="start start">
                    <ul>
                        <li>Web Privacy &amp; Security</li>
                        <li>Link Disclaimer</li>
                        <li>FOIA</li>
                        <li>DIA Operating Status</li>
                    </ul>
                    <ul>
                        <li>Web Policy</li>
                        <li>No FEAR Act</li>
                        <li>DIA Inspector General</li>
                        <li>Office of Privacy &amp; Civil Liberties</li>
                    </ul>
                    <ul>
                        <li>Accessibility/Section 508</li>
                        <li>Defense.gov</li>
                        <li>USA.gov</li>
                    </ul>
                </div>
            </md-content>
        </footer>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
    (function(angular, undefined){
        "use strict";

        angular
        .module('MainApp', ['ngMaterial', 'ngSanitize'])
        .controller('AppCtrl', AppController);

        function AppController($scope, $mdDialog) {

        }

    })(angular);
    </script>

</body>
</html>