<html lang="en" ng-app="MainApp">

<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body class="home app-body" ng-controller="AppCtrl">
    <div class='navigation-bar'>
        <div class='navigation-bar__right'>
            <md-button>Dashboard</md-button>
            <md-button>My Account</md-button>
            <md-button>FAQ</md-button>
            <md-button class="md-raised logout">Log Out</md-button>
        </div>
        <!-- .navigation-bar__right -->

    </div>
    <!-- .navigation-bar -->
    <!-- start | md-content | -->
    <md-content class="content">
        <md-nav-bar class="steps-menubar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item class="steps-menubar__step steps-menubar__step-completed" md-nav-click="goto('page1')" name="page1">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            1
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Identify a need.
                    </div>
                </div>
            </md-nav-item>
            <md-nav-item class="steps-menubar__step steps-menubar__step-completed" md-nav-click="goto('page2')" name="page2">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            2
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Prepare a white paper.
                    </div>
                </div>
            </md-nav-item>
            <md-nav-item class="steps-menubar__step steps-menubar__step-in-progress" md-nav-click="goto('page3')" name="page3">
                <div class="steps-menubar__step__inner-wrapper">
                    <div class="steps-menubar__step__icon">
                        <div class="rounded-number not-completed">
                            3
                        </div>
                        <div class="rounded-number completed">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="steps-menubar__step__text">
                        Review and Submit.
                    </div>
                </div>
            </md-nav-item>
            <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
        <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
        <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
        -->
        </md-nav-bar>
        <div class="ext-content">
            <div class="step-body">
                <h2 class="step-body__title">REVIEW AND SUBMIT</h2>
                <div class="step-body__title-underline"></div>
                <p class="step-body__desc">Please carefully review the information below. If everything looks correct, click <strong>"Submit"</strong>.</p>
                <md-card>
                    <md-card-content>
                        <div class='step-3-wrapper'>
                            <h2>General Information <span class="inline-edit-link"><i class="fa fa-pencil" aria-hidden="true"></i><strong> edit</strong></span></h2>
                            <div class='step-body__card-body'>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>WP Title</label>
                                        <input ng-model="data.general.title">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>WP Classification</label>
                                        <input ng-model="data.general.class">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Need Number &amp; Title</label>
                                        <input ng-model="data.general.need_number_and_title">
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Offer or Organization</label>
                                        <input ng-model="data.general.offer_or_organization">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>DUNS Number</label>
                                        <input ng-model="data.general.duns">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Mailing Address</label>
                                        <input ng-model="data.general.mailing_address">
                                    </md-input-container>
                                </div>
                                <h2>Technical Point of Contact <span class="inline-edit-link"><i class="fa fa-pencil" aria-hidden="true"></i><strong> edit</strong></span></h2>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Name</label>
                                        <input ng-model="data.technical.name">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Phone Number</label>
                                        <input ng-model="data.technical.phone">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email Address</label>
                                        <input required type="email" name="clientEmail" ng-model="data.technical.email" ng-pattern="/^.+@.+\..+$/" />

                                        <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                Invalid Email Address.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <h2>Administrative Point of Contact <span class="inline-edit-link"><i class="fa fa-pencil" aria-hidden="true"></i><strong> edit</strong></span></h2>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Name</label>
                                        <input ng-model="data.admin.name">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Phone Number</label>
                                        <input ng-model="data.admin.phone">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email Address</label>
                                        <input required type="email" name="clientEmail" ng-model="data.admin.email" ng-pattern="/^.+@.+\..+$/" />

                                        <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                Invalid Email Address.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <h2>Organization Designation <span class="inline-edit-link"><i class="fa fa-pencil" aria-hidden="true"></i><strong> edit</strong></span></h2>
                                <div layout-gt-sm="row">
                                    <div flex="30" class="md-block" flex-gt-sm>
                                        <h3>Primary Designation</h3>
                                        <md-radio-group ng-model="data.org_desig.primary">
                                            <md-radio-button value="large-business" class="md-primary">Large Business</md-radio-button>
                                            <md-radio-button value="small-business">Small Business </md-radio-button>
                                            <md-radio-button value="smal-disadvantaged">Small Disadvantaged Business</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div flex="50" class="md-block" flex-gt-sm>
                                        <h3>Other Designation(s)</h3>
                                        <div layout-gt-sm="row">
                                            <div class="md-block" flex-gt-sm>
                                                <md-checkbox ng-model="data.org_desig.other.woman_owned" aria-label="Checkbox 1">
                                                    Woman Owned
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.sdvosb" aria-label="Checkbox 1">
                                                    SDVOSB
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.hubzone" aria-label="Checkbox 1">
                                                    HUBZone
                                                </md-checkbox>
                                            </div>
                                            <div class="md-block" flex-gt-sm>
                                                <md-checkbox ng-model="data.org_desig.other.academic_inst" aria-label="Checkbox 1">
                                                    Academic Institution
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.hbcu" aria-label="Checkbox 1">
                                                    HBCU
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.ffrdc" aria-label="Checkbox 1">
                                                    FFRDC
                                                </md-checkbox>
                                            </div>
                                            <div class="md-block" flex-gt-sm>
                                                <md-checkbox ng-model="data.org_desig.other.national_lab" aria-label="Checkbox 1">
                                                    National Lab
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.non_profit" aria-label="Checkbox 1">
                                                    Non-Profit
                                                </md-checkbox>
                                                <br>
                                                <md-checkbox ng-model="data.org_desig.other.other" aria-label="Checkbox 1">
                                                    Other
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div flex="20" class="md-block" flex-gt-sm>
                                    </div>
                                </div>
                                <h2>Additional Information <span class="inline-edit-link"><i class="fa fa-pencil" aria-hidden="true"></i><strong> edit</strong></span></h2>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>DUNS Number</label>
                                        <input ng-model="data.additional_info.duns_number">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>CAGE Code Number</label>
                                        <input ng-model="data.additional_info.cage_code_number">
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <div class="md-block" flex-gt-sm>
                                        <h3>Have you ever done business with DIA?</h3>
                                        <md-radio-group ng-model="data.additional_info.business_with_dia">
                                            <md-radio-button value="yes">Yes</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div class="md-block" flex-gt-sm>
                                        <h3>If Yes, please note how recently?</h3>
                                        <div layout-gt-sm="row">
                                            <div class="md-block" flex-gt-sm>
                                                <md-radio-group ng-model="data.additional_info.business_with_dia_duration">
                                                    <md-radio-button value="0_1_year">0 - 1 Year</md-radio-button>
                                                    <md-radio-button value="1_5_years">1 - 5 Years</md-radio-button>
                                                    <md-radio-button value="over_5_years">Over 5 Years</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md-block" flex-gt-sm>
                                    </div>
                                </div>
                                <h2>Uploaded Document</h2>
                                <div class='attached-file-box'>
                                    <div class='flex-row attached-file-box__inner'>
                                        <div class='flex-grid attached-file-box__icon-container'>
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </div>
                                        <!-- .flex-grid -->
                                        <div class='flex-grid attached-file-box__info-container'>
                                            <p class="attached-file-box__info-container__number-of-attachments">1 ATTACHMENT</p>
                                            <p class="attached-file-box__info-container__file-name">WRC-White-Paper.docx</p>
                                        </div>
                                        <!-- .flex-grid -->
                                    </div>
                                    <!-- .flex-row -->
                                    <i class="fa fa-times attached-file-box__close-box" aria-hidden="true"></i>
                                </div>
                                <!-- .attached-file-box -->
                            </div>
                            <!-- .step-body__card-body -->
                        </div>
                        <!-- .step-3-wrapper -->
                        <div layout-gt-sm="row" class="pagination-buttons">
                            <div class="md-block" flex-gt-sm>
                                <md-button class="prev-button"><strong>BACK |</strong> UPLOAD WHITE PAPER</md-button>
                            </div>
                            <div class="md-block" flex-gt-sm>
                                <md-button class="next-button"><strong>SUBMIT</md-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
    <!-- end | md-content | -->
    <!-- start | .section-footer | -->
    <footer class="section-footer" layout-wrap>
        <md-content class="container">
            <div layout="row" layout-align="start start">
                <ul>
                    <li>Web Privacy &amp; Security</li>
                    <li>Link Disclaimer</li>
                    <li>FOIA</li>
                    <li>DIA Operating Status</li>
                    <li>Web Policy</li>
                    <li>No FEAR Act</li>
                </ul>
                <ul>
                    <li>DIA Inspector General</li>
                    <li>Office of Privacy &amp; Civil Liberties</li>
                    <li>Accessibility/Section 508</li>
                    <li>Defense.gov</li>
                    <li>USA.gov</li>
                </ul>
            </div>
        </md-content>
    </footer>
    <!-- end | .section-footer | -->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
    (function(angular, undefined){
        "use strict";

        angular
        .module('MainApp', ['ngMaterial', 'ngSanitize'])
        .controller('AppCtrl', AppController);

        function AppController($scope, $mdDialog) {

        }

    })(angular);
    </script>
</body>

</html>