<html lang="en" ng-app="MainApp">

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
</head>

<body class="page-signup home app-body" ng-controller="AppCtrl" id="popupContainer" ng-cloak>
    <div class='page-inner'>
        <div class='section-body'>
                <div class='wrapper' style='background-image: url(../dist/img/signup-bg.jpg)'>
                    <div class='inner-wrapper'>
                        <div class='gradient-layer'></div>
                        <div class='content'>
                            <header>
                                <h1 class='title'>NeedipeDIA</h1>
                                <p class='description'>by the DEFENSE INTELLIGENCE AGENCY</p>
                            </header>
                            <div class='nav-wrapper'>
                                <div class='nav'>
                                    <p>
                                        <a href="#"><i class="back-icon fa fa-arrow-left" aria-hidden="true"></i> <strong>BACK</strong> | HOME</a>
                                    <p>
                                </div> <!-- .nav -->
                            </div> <!-- .nav -->
                            <div class='body'>
                                <div class='big-image-wrapper'>
                                    <div class='big-image-inner'>
                                        <div class='big-image' style='background-image: url(../dist/img/signup-left-image.jpg)'></div>
                                    </div>
                                </div> <!-- .big-image-wrapper -->
                                <div class='signup'>
                                    <div class='heading'>
                                        <h2>Sign Up</h2>
                                        <div class='heading-underline'></div>
                                    </div> <!-- .login__heading -->
                                    <div class='form'>
                                        <div>
                                            <md-input-container>
                                                <label>Email Address</label>
                                                <input ng-model="user.email" type="email">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <md-input-container>
                                                <label>First Name</label>
                                                <input ng-model="user.first_name">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <md-input-container>
                                                <label>Last Name</label>
                                                <input ng-model="user.last_name">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <md-input-container>
                                                <label>Phone number (recommended)</label>
                                                <input ng-model="user.phone_number">
                                            </md-input-container>
                                        </div>
                                        <div class="remember-me">
                                            <md-checkbox ng-model="user.remember_me" aria-label="Remember Me">
                                                Remember me.
                                            </md-checkbox>
                                        </div>
                                        <div>
                                            <md-button class='signup-button'>Submit</md-button>
                                        </div>
                                    </div> <!-- .login__body -->
                                    <div class='license-agreement'>
                                        <p>
                                            By clicking Sign Up, you acknowledge you have read and agree to the <a href="#">License Agreement</a>.
                                        </p>
                                    </div>
                                </div> <!-- .login__body-login -->
                            </div> <!-- .login__body -->
                        </div> <!-- .login -->
                    </div> <!-- .login-inner -->
                </div>
        </div> <!-- .section-body -->


        <!-- end | md-content | -->
        <!-- start | .section-footer | -->
        <footer class="section-footer" layout-wrap>
            <md-content class="container">
                <div layout="row" layout-align="start start">
                    <ul>
                        <li>Web Privacy &amp; Security</li>
                        <li>Link Disclaimer</li>
                        <li>FOIA</li>
                        <li>DIA Operating Status</li>
                    </ul>
                    <ul>
                        <li>Web Policy</li>
                        <li>No FEAR Act</li>
                        <li>DIA Inspector General</li>
                        <li>Office of Privacy &amp; Civil Liberties</li>
                    </ul>
                    <ul>
                        <li>Accessibility/Section 508</li>
                        <li>Defense.gov</li>
                        <li>USA.gov</li>
                    </ul>
                </div>
            </md-content>
        </footer>
    </div> <!-- .page-inner-wrapper -->


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
    (function(angular, undefined){
        "use strict";

        angular
        .module('MainApp', ['ngMaterial', 'ngSanitize'])
        .controller('AppCtrl', AppController);

        function AppController($scope, $mdDialog) {

        }

    })(angular);
    </script>

</body>
</html>